html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    padding: 0;
    /* font-family: '', sans-serif; */
}

/* Navigation Bar */
#navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#links
{
    display: flex;
    justify-content: flex-start;
}

.current-link
{
    padding: 20px;
}

.current-link a
{
    text-decoration: underline;
    color: #505168;
}

.other-link
{
    padding: 20px;
}

.other-link a
{
    text-decoration: none;
    color: black;
}

#sign-in a
{
    text-decoration: none;
}

#sign-in
{
    align-self: center;
    margin-right: 20px;
}

#sign-in button
{
    width: 80px;
    height: 30px;
    font-size: 12pt;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5vw;
}

#sign-in button:hover
{
    background-color: rgb(225, 225, 225);
}

/* Show case */
#show-case
{
    display: flex;
    flex-direction: column;
    background-image: url("../images/aboutus-banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 55vw;
    justify-content: center;
    align-items: center;
}

#show-case h1
{
    font-size: 38pt;
    margin: 0vw 12vw 0vw 12vw;
    color: white;
    text-align: center;
}

#hamburger
{
    display: none;
}

#read-more
{
    margin-top: 5vw;
}

#read-more a
{
    text-decoration: none;
}

#read-more button
{
    display: none;
    width: 130px;
    height: 45px;
    font-size: 14pt;
    color: white;
    border: 1px solid white;
    border-radius: 5vw;
    background-color:rgba(0, 0, 0, .5);
}

#read-more button:hover
{
    background-color: rgba(80, 81, 104, .9);
}

/* Welcome */
#welcome
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome h1
{
    font-size: 34pt;
    margin: 5vw 12vw 5vw 12vw;
    color: #505168;
    text-align: center;
}

#welcome p
{
    line-height: 1.7em;
    font-size: 18px;
    margin: 5vw 10vw 5vw 10vw;
    padding: 0 25px 0 25px;
    border-left: 1px solid #505168;
    border-right: 1px solid #505168;
}

/* Our Team */
#our-team
{
    display: flex;
    flex-direction: column;
}

#our-team h1
{
    font-size: 34pt;
    margin: 5vw 12vw 5vw 12vw;
    color: #505168;
    text-align: center;
}

#members
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#gaurav
{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#gaurav-read-more
{
    width: 130px;
    height: 45px;
    font-size: 14pt;
    color: #505168;
    border: 1px solid #505168;
    border-radius: 5vw;
    margin-bottom: 30px;
    background-color:rgba(0, 0, 0, 0);
}

#gaurav-read-more:hover
{
    background-color: #505168;
    color: white;
}

#winston
{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#winston-read-more
{
    width: 130px;
    height: 45px;
    font-size: 14pt;
    color: #505168;
    border: 1px solid #505168;
    border-radius: 5vw;
    margin-bottom: 30px;
    background-color:rgba(0, 0, 0, 0);
}

#winston-read-more:hover
{
    background-color: #505168;
    color: white;
}

#jeff
{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#jeff-read-more
{
    width: 130px;
    height: 45px;
    font-size: 14pt;
    color: #505168;
    border: 1px solid #505168;
    border-radius: 5vw;
    margin-bottom: 30px;
    background-color:rgba(0, 0, 0, 0);
}

#jeff-read-more:hover
{
    background-color: #505168;
    color: white;
}

#jonny
{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#jonny-read-more
{
    width: 130px;
    height: 45px;
    font-size: 14pt;
    color: #505168;
    border: 1px solid #505168;
    border-radius: 5vw;
    margin-bottom: 30px;
    background-color:rgba(0, 0, 0, 0);
}

#jonny-read-more:hover
{
    background-color: #505168;
    color: white;
}

.profile-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container img
{
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    align-self: center;
    border: 2px solid #505168;
    border-radius: 50%;
}

.profile-container p
{
    font-size: 14pt;
    text-align: center;
    padding: 10px 0 10px 0;
}

/* Footer */
#footer
{
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    background-color: #505168;
    color: white;
}

.footer-title
{
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
}

#social a
{
    align-self: center;
    text-align: center;
}

#contact-us
{
    display: none;
}

#about
{
    display: none;
}

/* Copyright */
#copyright
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #27233A
}

#copyright p
{
    text-align: center;
    color: white;
    font-size: 10pt;
    margin: 10px 0 10px 0;
}

#copyright div
{
    align-self: center;
}

/* popup info modal */
.info-modal-wrap
{
    display: none;
}

.info-modal
{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.info-modal-content
{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    background-color: white;
    border: 3px solid #505168;
    border-radius: 45px;
    padding: 35px;
    justify-content: center;
    align-items: center;
}

.info-modal-content img
{
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    align-self: center;
    border: 2px solid #505168;
    border-radius: 50%;
}

.info-modal-content h2
{
    font-size: 18pt;
    font-weight: bold;
    color: #505168;
    padding-top: 20px;
}

.info-modal-content p
{
    margin: 0 0 0 0;
}

/* Responsive layout - when the screen is wider than 1024px */
@media screen and (min-width: 1025px)
{
    /* Hamburger */
    #hamburger
    {
        display: none;
    }

    /* Show Case */
    #show-case
    {
        background: url("../images/aboutus-banner.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #read-more button
    {
        display: block;
    }

    /* Members */
    #members
    {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    #gaurav
    {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #winston
    {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #jeff
    {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    #jonny
    {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    /* Footer */
    #footer
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
    }

    #contact-us
    {
        display: block;
    }

    #about
    {
        display: block; 
    }
    
}