html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    padding: 0;
    /* font-family: '', sans-serif; */
}

/* Navigation Bar */
#navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Summary page*/
#summary
{
    display: flex;
    flex-direction: column;
    background-image: url("../images/faq-banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 55vw;
    justify-content: center;
    align-items: center;
}

#summary h1
{
    font-size: 38pt;
    margin: 0vw 12vw 0vw 12vw;
    color: white;
    text-align: center;
}

#summary p
{
    line-height: 1.7em;
    font-size: 18px;
    margin: 5vw 10vw 5vw 10vw;
    padding: 0 25px 0 25px;
    border-left: 1px solid #505168;
    border-right: 1px solid #505168;
    text-align: center;
    color: white;
}

#nav-btns
{
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#nav-btns a
{
    text-decoration: none;
}

#nav-btns button
{
    width: 250px;
    height: 60px;
    font-size: 14pt;
    color: white;
    border: 1px solid white;
    border-radius: 5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color:rgba(0, 0, 0, .5);
}

#nav-btns button:hover
{
    background-color: rgba(80, 81, 104, .9);
}

/* Symptoms Section*/

#symptoms
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#symptoms h1
{
    font-size: 34pt;
    margin: 5vw 12vw 5vw 12vw;
    color: #505168;
    text-align: center;
}

.sym
{
    line-height: 1.7em;
    font-size: 18px;
    margin: 5vw 10vw 5vw 10vw;
    padding: 0 25px 0 25px;
    border-left: 1px solid #505168;
    border-right: 1px solid #505168;
    text-align : center;
}

#illsec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 10vw;
    margin-right: 10vw;
}

.illness img {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    align-self: center;
    /* border: 2px solid black; */
    border-radius: 50%;
}

.illness p {
    font-size: 14pt;
    text-align: center;
}

#fever
{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#cough
{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#breath
{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#chills
{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* Information section*/

#contact
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/bg1.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#contact h1
{
    font-size: 34pt;
    margin: 5vw 12vw 5vw 12vw;
    text-align: center;
    color: white;
}

#contact h2
{
    font-size: 28pt;
    margin: 5vw 12vw 5vw 12vw;
    color: white;
    text-align: center;
}

#contact p {
    font-size: 14pt;
    text-align: center;
    color: white; 
}

/* BC Measures section*/

#isolation
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#isolation h1
{
    
    font-size: 34pt;
    margin: 17vw 12vw 5vw 12vw;
    color: #505168;
    text-align: center;
}

#isolation p
{
    line-height: 1.7em;
    font-size: 18px;
    margin: 5vw 10vw 5vw 10vw;
    padding: 0 25px 0 25px;
    border-left: 1px solid #505168;
    border-right: 1px solid #505168;
    text-align: center;
  
}

#isolation ul {
  text-align: center;
  list-style: none;
  font-weight: 14pt;
  font-weight: bold;
  
}

/* Footer */
#footer
{
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    background-color: #505168;
    color: white;
}

.footer-title
{
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
}

#social a
{
    align-self: center;
    text-align: center;
}

#contact-us
{
    display: none;
}

#about
{
    display: none;
}

/* Copyright */
#copyright
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #27233A;
}

#copyright p
{
    text-align: center;
    color: white;
    font-size: 10pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Responsive layout - when the screen is wider than 1024px */
@media screen and (min-width: 1025px)
{
    #illsec 
    {
        display: flex;
        justify-content: space-between;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    /* Footer */
    #footer
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
    }

    #contact-us
    {
        display: block;
    }

    #about
    {
        display: block; 
    }
}



