

#map { grid-area: map; }
#base { grid-area: database; }
#chart1 { grid-area: chart1; }
#chart2 { grid-area: chart2; }
#chart3 { grid-area: chart3; }
#table { grid-area: table;}
#nav {grid-area: nav;}
#bb {grid-area: board;}

html,body{
    height: 100%;
    width: 100%;
}
#map{
    height: 100%
}
#container {
    /* height: 100%; */
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
   /* grid-template-columns: auto(2,1fr); */
    grid-template-rows: 3.5em 2fr 2fr 2fr 0.3fr 1fr 1fr; 
    /* grid-gap: 10px 10px; */
    grid-template-areas: 
    'nav nav'
    'map chart1'
    'map chart2'
    'map chart3'
    'board board'
    'table table'
    'database database'; 
  
}

@media screen and (max-width: 800px){
    
#container {
 /* height: 100%; */
 width: 100%;
 margin: 0;
 padding: 0;
 font-family: Arial, Helvetica, sans-serif;
 display: grid;
/* grid-template-columns: auto(2,1fr); */
 grid-template-rows: 3.5em 4fr 2fr 2fr 2fr 0.3fr 1fr 1fr; 
 /* grid-gap: 10px 10px; */
 grid-template-areas: 
 'nav'
 'map'
 'chart1'
 'chart2'
 'chart3'
 'board'
 'table'
 'database'; 
    }
   
  
}

#bb{
    margin-top: 30px;
}
#map{
    width: 100%;
    height: 100%;
    /* position: absolute; */
}
#nav {
    height: 3.5em;
    margin: 0;
    padding: 0;
    z-index: 2;
}
/* #map{
    width: 50%;
} */


#board {
    font-size: large;
    font-weight: bold;
    text-align: center;
    /* margin-top: 1%; */
}