html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    padding: 0;
    /* font-family: '', sans-serif; */
}

/* Navigation Bar */
#navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(100, 100, 100);

}

#navbar h1
{
    text-align: center;
    font-size: 20pt;
}

#links
{
    display: flex;
    justify-content: flex-start;
}

.current-link
{
    padding: 20px;
    align-self: center;
}

.current-link a
{
    text-decoration: underline;
    color: #505168;
}

.other-link
{
    padding: 20px;
    align-self: center;
}

.other-link a
{
    text-decoration: none;
    color: black;
}

#sign-in a
{
    text-decoration: none;
}

#sign-in
{
    align-self: center;
    margin-right: 20px;
}

#sign-in button
{
    width: 80px;
    height: 30px;
    font-size: 12pt;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5vw;
}

#sign-in button:hover
{
    background-color: rgb(225, 225, 225);
}

/* News Articles */
.news-articles
{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #505168;
    padding: 10px 0 0 0;
}

.news-grid
{
    display: grid;
    padding-left: 20px;
}

.news-grid:hover
{
    background-color: #8486ab;
}

.news-title a
{
    text-decoration: none;
    font-size: 16pt;
    color: #27233A;
}
.news-title a:hover
{
    text-decoration: none;
    color: black;
}

.news-source
{
    font-size: 10pt;
    color: #505168;
}

.news-desc
{
    font-size: 12pt;
    color: rgb(100, 100, 100);
}

/* Footer */
#footer
{
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    background-color: #505168;
    color: white;
}

.footer-title
{
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
}

#social a
{
    align-self: center;
    text-align: center;
}

#contact-us
{
    display: none;
}

#about
{
    display: none;
}

/* Copyright */
#copyright
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #27233A;
}

#copyright p
{
    text-align: center;
    color: white;
    font-size: 10pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Responsive layout - when the screen is wider than 1024px */
@media screen and (min-width: 1025px)
{
    /* Hamburger */
    #hamburger
    {
        display: none;
    }

    /* Footer */
    #footer
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
    }

    #contact-us
    {
        display: block;
    }

    #about
    {
        display: block; 
    }
    
}