body {

}

h1 {
  font-size: 24pt;
}

/* MEDIA QUERIES*/


@media screen and (min-width: 1025px) {

  body {
  }

  .title {
    background-color: dimgray;
    color: white;
    padding: 1px;
    margin: 0;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  
  
  .right-sidebar {
    grid-column: 2 / span 4;
  }
  
  .sideItem {
    border: 1px solid;
    margin: 1px;
    background-color: dimgray;
    color: aliceblue;
    
  }
  
  
  
}
