.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 249, 249);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(156, 153, 153);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(51, 50, 50);
}

input:focus+.slider {
    box-shadow: 0 0 1px  rgb(51, 50, 50);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/*  Css for Simulation and controls */
body {
    /* background-color: rgba(157, 252, 212, 0.459); */
    background-image: url('../images/background.jpg');
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

.people,
.param {
    font-size: large;
    font-weight: bold;
    color: white;
}

#sim {
    grid-area: sim;
    border: black ridge 5px;
    margin: auto;
    width: 80vw;
    height: 60vh;
    background-color: white;
}

#img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: legend;
}

.grid-container {
    display: grid;
    grid-template-columns: 35% 35% 30%;
    margin: 3%;
    /* margin-left: 10%;
    margin-right: 10%; */
    justify-items: center;
    /* grid-gap:2%; */
    grid-template-areas:
        "sim sim sim"
        "legend legend legend"
        "control control control";
}


#control {
    grid-area: control;
}

label{
    color:white;
    font-size: 1em;
    font-weight: bold;
}

.people{
    font-size: 1em;
}



@media only screen and (max-width: 1000px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "sim sim"
            "legend legend"
            "legend legend"
            "control control"
    }
}

@media only screen and (max-width: 500px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "sim"
            "legend"
            "legend"
            "control"
            "control";
    }

    /* #img-container{
        flex-direction: column;
    } */

    #sim {
        width: 80vw;
        height: 60vh;
    }

}

.form-check-label {
    margin-left: 2px;
    margin-right: 10px;
    ;
}


/*  */

